/* src/index.css */

/* Estilos para impressão */
@media print {
  body * {
    visibility: hidden;
  }

  .modal-body, .modal-header, .modal-footer {
    visibility: visible;
  }

  .modal-body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .no-print {
    display: none;
  }
}
